@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: grid;
    justify-content: space-around;
    place-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
            
    background-size: 200% 200%;

    animation: movimiento 5s linear infinite alternate;
}

@keyframes movimiento {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }
}

.main-title{
    padding-bottom: 1.5rem;
}

#get_note1, #get_note2, #get_note3{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 5.4rem;
    text-align: center;
    font-size: 1rem;
}

.btnCalculate{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btnCalculate:hover{
    background-color: var(--text-color);
    color: #fff;
}

.results{
    padding-top: 1.5rem;
}

.result_container{
    padding-top: 1.5rem;
}

.link_git{
    padding-top: 3rem;
    color: #171427;
}